css
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.auth-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}
auth-container button {
  width: 100%;
  padding: 12px;
  background-color: #111;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.auth-container a {
  color: #e50914;
  text-decoration: none;
}
